.head{
    display: flex;
    justify-content: space-between;
    color: rgb(246, 10, 10);
}
.head ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 15px;
}
.head li{
    padding-left: 15px;
}
.head input{
    flex: 1;
    color: aqua;
    border: 1px solid blue;
    height: 25px;
    border-right: 0px;
    background-color: antiquewhite;
}
.head button{
    color: brown;
    height: 25px;
    border:1px solid blue;
    color: crimson;
    border-left: 0px;
}